.contact-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
} 

.contact-page.personality h1,
.contact-page.personality h2,
.contact-page.personality p{
    color: #e7ddb9;
} 