.projects-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px;   
  box-sizing: border-box;
}

.projects-title {
  font-size: 2rem;
  margin-bottom: 30px;
}

.personality-mode h2 {
  color:#f9f0c6;
} 

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
  width: 100%;
  box-sizing: border-box;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #222;
  color: white;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  width:100%;
  max-width: none;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.project-card:hover .card-overlay {
  opacity: 1;
  transform: translateY(0);
}

.card-overlay {
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(10px);
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 360px; 
  overflow: hidden;
}

 .project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
} 

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.85);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(10px);
}


.project-card:hover .card-overlay {
  opacity: 1;
}

.overlay-btn {
  background: #c1958a;
  color: #222;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.2s ease;
}

.overlay-btn:hover {
  background: #964446;
}

.project-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  height: 100%;
  padding-top: 10px;
}

.project-title {
  font-size: 1.3rem;
  margin: 10px 0 5px;
  padding: 10px;
}

.project-description {
  flex-grow: 1;
  margin-bottom: 15px;
}

.project-tools {
  margin-top: auto;
  font-size: 0.9rem;
}

.personality-mode.projects-container {
  background: none;
  color: #222;
}

.personality-mode .project-card {
  background: linear-gradient(145deg, #ffe2ec, #f9f0c6);
  color: #222;
}

.personality-mode .overlay-btn {
  background:#4fab99;
  color: white;
}

.personality-mode .overlay-btn:hover {
  background: #2c484f;
}

@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .project-card {
    max-width: 90%;
  }

  .image-wrapper {
    height: 200px;
  }
}